backup20122018
[{"id":"3bb3e48b.351834","type":"tab","label":"Fake Data Input","disabled":false,"info":""},{"id":"969c8123.0adb28","type":"tab","label":"Data processing","disabled":false,"info":""},{"id":"26ed7d08.b648f2","type":"tab","label":"Facebook Messenger","disabled":false,"info":""},{"id":"5a06ca21.c33824","type":"tab","label":"Monitoring ","disabled":false,"info":""},{"id":"cfae4c7b.5d51f","type":"tab","label":"Websocket","disabled":false,"info":""},{"id":"641b164b.95aa68","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"6b3187e3.2a90d","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"efbe105c.8ef5c","type":"subflow","name":"Subflow 3","info":"","in":[],"out":[]},{"id":"3c694b42.0fd864","type":"mqtt-broker","z":"","name":"","broker":"m12.cloudmqtt.com","port":"18879 ","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b45471fd.f7df6","type":"websocket-listener","z":"","path":"/ws/simple","wholemsg":"false"},{"id":"a457c44e.c8fca8","type":"mongodb2","z":"","uri":"mongodb://dbAdminCya:Thang123$@fil-iot-data-shard-00-00-sz9x5.mongodb.net:27017,fil-iot-data-shard-00-01-sz9x5.mongodb.net:27017,fil-iot-data-shard-00-02-sz9x5.mongodb.net:27017/fildata?ssl=true&replicaSet=fil-iot-data-shard-0&authSource=admin&retryWrites=true","name":"","options":"","parallelism":"-1"},{"id":"2d3fd788.621d48","type":"mongodb3","z":"","uri":"mongodb://116.107.7.198:27017/dbIotteam","name":"","options":"","parallelism":"-1"},{"id":"a44b2bb9.603be8","type":"ui_group","z":0,"name":"Instant Value","tab":"773adf2d.b7c68","order":1,"disp":true,"width":"8","collapse":false},{"id":"f67532d2.53e378","type":"ui_group","z":0,"name":"Graphics","tab":"773adf2d.b7c68","order":2,"disp":false,"width":"12","collapse":false},{"id":"773adf2d.b7c68","type":"ui_tab","z":0,"name":"FIL's IoT Testbed","icon":"dashboard","order":1},{"id":"6c7ade5b.8ef228","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"true","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"83d885ee.a68128","type":"mqtt-broker","z":"","name":"","broker":"m14.cloudmqtt.com","port":"16954","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a28afd41.99938","type":"ui_tab","z":"","name":"Dashboard ","icon":"dashboard","order":2},{"id":"26f1954b.095532","type":"ui_group","z":"","name":"Parameter Update","tab":"a28afd41.99938","order":1,"disp":true,"width":"8","collapse":false},{"id":"47bffe95.372b1","type":"ui_group","z":"","name":"Chart","tab":"a28afd41.99938","order":2,"disp":true,"width":"12","collapse":false},{"id":"e763d79a.cb276","type":"ui_group","z":"","name":"Database","tab":"a28afd41.99938","order":3,"disp":true,"width":"8","collapse":false},{"id":"7bbdfd02.394e6c","type":"ui_group","z":"","name":"Info Server","tab":"a28afd41.99938","order":4,"disp":true,"width":"8","collapse":false},{"id":"feb53a9f.19302","type":"inject","z":"3bb3e48b.351834","name":"Device_1","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":72,"wires":[["e8922e26.02906"]]},{"id":"e8922e26.02906","type":"function","z":"3bb3e48b.351834","name":"","func":"var temp = Math.round(Math.random() * (23 - 22) + 22);\nvar hum = Math.round(Math.random() * (90 - 45) + 45);\nvar evap = Math.round(Math.random() * (50 - 40) + 40);\nvar light = Math.round(Math.random() * (800 - 780) + 78);\nvar i = Math.round(Math.random() *2);\n\n\nmsg.payload={\n    \"mac\":\"21:65:D9:E4:53:2D\",\n    \"pos\":\n        {\n            \"x\":0,\n            \"y\":0          \n        },\n    \"power\":12,\n    \"param\": \n        {\n            \"light\": light,\n            \"temp\":temp,\n            \"hum\":hum,\n            \"eva\":evap,\n            \"act\":i\n        },\n    \"extra\": null\n}\nreturn msg;","outputs":1,"noerr":0,"x":374,"y":74,"wires":[["ee145a0b.527e9"]]},{"id":"754474bf.e4822c","type":"inject","z":"3bb3e48b.351834","name":"Device_2","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":false,"onceDelay":0.1,"x":142,"y":198,"wires":[["57e17a98.24a2a4"]]},{"id":"57e17a98.24a2a4","type":"function","z":"3bb3e48b.351834","name":"","func":"var temp = Math.round(Math.random() * (23 - 22) + 22);\nvar hum = Math.round(Math.random() * (85 - 83) + 83);\nvar evap = Math.round(Math.random() * (50 - 40) + 40);\nvar light = Math.round(Math.random() * (800 - 780) + 78);\nvar i = Math.round(Math.random() *2);\n\nmsg.payload={\n    \"mac\":\"6C:E2:1C:FF:A0:21\",\n    \"pos\":\n        {\n            \"x\":1,\n            \"y\":0\n        },\n    \"power\":21,\n    \"param\": \n        {\n            \"light\": light,\n            \"temperature\":temp,\n            \"humidity\":hum,\n            \"evaporation\":evap,\n            \"action\":i\n        },\n    \"extra\":null\n}\nreturn msg;","outputs":1,"noerr":0,"x":374,"y":112,"wires":[["35905fef.c45458"]]},{"id":"78c370bb.f76d5","type":"inject","z":"3bb3e48b.351834","name":"Device_3","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":240,"wires":[["c2f948ca.82b098"]]},{"id":"c2f948ca.82b098","type":"function","z":"3bb3e48b.351834","name":"","func":"var temp = Math.round(Math.random() * (23 - 22) + 22);\nvar hum = Math.round(Math.random() * (85 - 83) + 83);\nvar evap = Math.round(Math.random() * (50 - 40) + 40);\nvar light = Math.round(Math.random() * (800 - 780) + 78);\nvar i = Math.round(Math.random() *2);\n\nmsg.payload={\n    \"_id\":\"C5:AF:CE:58:D8:DE\",\n    \"pos\":\n        {\n            \"x\":2,\n            \"y\":0\n        },\n    \"param\": \n        {\n            \"light\": light,\n            \"temperature\":temp,\n            \"humidity\":hum,\n            \"evaporation\":evap,\n            \"action\":i\n        }\n}\nreturn msg;","outputs":1,"noerr":0,"x":374,"y":152,"wires":[["6052255e.5a7bf4"]]},{"id":"d93a9d09.c55288","type":"inject","z":"3bb3e48b.351834","name":"Device_4","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":280,"wires":[["3bd23b9a.550f64"]]},{"id":"3bd23b9a.550f64","type":"function","z":"3bb3e48b.351834","name":"","func":"var temp = Math.round(Math.random() * (23 - 22) + 22);\nvar hum = Math.round(Math.random() * (85 - 83) + 83);\nvar evap = Math.round(Math.random() * (50 - 40) + 40);\nvar light = Math.round(Math.random() * (800 - 780) + 78);\nvar i = Math.round(Math.random() *2);\n\nmsg.payload={\n    \"_id\":\"1D:71:82:5C:7A:B1\",\n    \"pos\":\n        {\n            \"x\":3,\n            \"y\":0\n        },\n    \"param\": \n        {\n            \"light\": light,\n            \"temperature\":temp,\n            \"humidity\":hum,\n            \"evaporation\":evap,\n            \"action\":i\n        }\n}\nreturn msg;","outputs":1,"noerr":0,"x":374,"y":192,"wires":[["dbc084e9.a4c36"]]},{"id":"a015a46a.41e5c8","type":"inject","z":"3bb3e48b.351834","name":"Device_5","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":320,"wires":[["c9ef4d83.e98fe8"]]},{"id":"c9ef4d83.e98fe8","type":"function","z":"3bb3e48b.351834","name":"","func":"var temp = Math.round(Math.random() * (23 - 22) + 22);\nvar hum = Math.round(Math.random() * (85 - 83) + 83);\nvar evap = Math.round(Math.random() * (50 - 40) + 40);\nvar light = Math.round(Math.random() * (800 - 780) + 78);\nvar i = Math.round(Math.random() *2);\n\nmsg.payload={\n    \"_id\":\"00:50:06:B1:7F:01\",\n    \"pos\":\n        {\n            \"x\":0,\n            \"y\":1\n        },\n    \"param\": \n        {\n            \"light\": light,\n            \"temperature\":temp,\n            \"humidity\":hum,\n            \"evaporation\":evap,\n            \"action\":i\n        }\n}\nreturn msg;","outputs":1,"noerr":0,"x":374,"y":232,"wires":[["e8b5ab3e.687438"]]},{"id":"cecbce88.ac974","type":"inject","z":"3bb3e48b.351834","name":"Device_6","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":360,"wires":[["7f007341.3577c4"]]},{"id":"7f007341.3577c4","type":"function","z":"3bb3e48b.351834","name":"","func":"var temp = Math.round(Math.random() * (23 - 22) + 22);\nvar hum = Math.round(Math.random() * (85 - 83) + 83);\nvar evap = Math.round(Math.random() * (50 - 40) + 40);\nvar light = Math.round(Math.random() * (800 - 780) + 78);\nvar i = Math.round(Math.random() *2);\n\nmsg.payload={\n    \"_id\":\"AD:F6:27:76:17:0A\",\n    \"pos\":\n        {\n            \"x\":1,\n            \"y\":1\n        },\n    \"param\": \n        {\n            \"light\": light,\n            \"temperature\":temp,\n            \"humidity\":hum,\n            \"evaporation\":evap,\n            \"action\":i\n        }\n}\nreturn msg;","outputs":1,"noerr":0,"x":374,"y":272,"wires":[["7f6f4549.3a7b4c"]]},{"id":"e5ccd405.fc58e","type":"inject","z":"3bb3e48b.351834","name":"Device_7","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":400,"wires":[["464a577e.ea62d"]]},{"id":"464a577e.ea62d","type":"function","z":"3bb3e48b.351834","name":"","func":"var temp = Math.round(Math.random() * (23 - 22) + 22);\nvar hum = Math.round(Math.random() * (85 - 83) + 83);\nvar evap = Math.round(Math.random() * (50 - 40) + 40);\nvar light = Math.round(Math.random() * (800 - 780) + 78);\nvar i = Math.round(Math.random() *2);\n\nmsg.payload={\n    \"id\":\"EE:4A:E3:EE:BE:09\",\n    \"pos\":\n        {\n            \"x\":2,\n            \"y\":1\n        },\n    \"param\": \n        {\n            \"light\": light,\n            \"temperature\":temp,\n            \"humidity\":hum,\n            \"evaporation\":evap,\n            \"action\":i\n        }\n}\nreturn msg;","outputs":1,"noerr":0,"x":374,"y":312,"wires":[["f6a0f833.e2d69"]]},{"id":"e026c6a8.2bca6","type":"inject","z":"3bb3e48b.351834","name":"Device_8","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":440,"wires":[["cb544fd4.28526"]]},{"id":"cb544fd4.28526","type":"function","z":"3bb3e48b.351834","name":"","func":"var temp = Math.round(Math.random() * (23 - 22) + 22);\nvar hum = Math.round(Math.random() * (85 - 83) + 83);\nvar evap = Math.round(Math.random() * (50 - 40) + 40);\nvar light = Math.round(Math.random() * (800 - 780) + 78);\nvar i = Math.round(Math.random() *2);\n\nmsg.payload={\n    \"id\":\"9B:5C:93:7C:51:D5\",\n    \"pos\":\n        {\n            \"x\":3,\n            \"y\":1\n        },\n    \"param\": \n        {\n            \"light\": light,\n            \"temperature\":temp,\n            \"humidity\":hum,\n            \"evaporation\":evap,\n            \"action\":i\n        }\n}\nreturn msg;","outputs":1,"noerr":0,"x":374,"y":352,"wires":[["e4699cf2.6de838"]]},{"id":"c673d76e.408128","type":"inject","z":"3bb3e48b.351834","name":"Device_9","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":480,"wires":[["b1821ca1.8b0708"]]},{"id":"b1821ca1.8b0708","type":"function","z":"3bb3e48b.351834","name":"","func":"var temp = Math.round(Math.random() * (23 - 22) + 22);\nvar hum = Math.round(Math.random() * (85 - 83) + 83);\nvar evap = Math.round(Math.random() * (50 - 40) + 40);\nvar light = Math.round(Math.random() * (800 - 780) + 78);\nvar i = Math.round(Math.random() *2);\n\nmsg.payload={\n    \"id\":\"8E:A1:34:BA:C0:57\",\n    \"pos\":\n        {\n            \"x\":0,\n            \"y\":2\n        },\n    \"param\": \n        {\n            \"light\": light,\n            \"temperature\":temp,\n            \"humidity\":hum,\n            \"evaporation\":evap,\n            \"action\":i\n        }\n}\nreturn msg;","outputs":1,"noerr":0,"x":374,"y":392,"wires":[["a67771a7.c44fe8"]]},{"id":"4cde1c02.239bfc","type":"inject","z":"3bb3e48b.351834","name":"Device_10","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":520,"wires":[["611ac6f8.feb35"]]},{"id":"611ac6f8.feb35","type":"function","z":"3bb3e48b.351834","name":"","func":"var temp = Math.round(Math.random() * (23 - 22) + 22);\nvar hum = Math.round(Math.random() * (85 - 83) + 83);\nvar evap = Math.round(Math.random() * (50 - 40) + 40);\nvar light = Math.round(Math.random() * (800 - 780) + 78);\nvar i = Math.round(Math.random() *2);\n\nmsg.payload={\n    \"id\":\"0C:40:2C:4A:44:A5\",\n    \"pos\":\n        {\n            \"x\":1,\n            \"y\":2\n        },\n    \"param\": \n        {\n            \"light\": light,\n            \"temperature\":temp,\n            \"humidity\":hum,\n            \"evaporation\":evap,\n            \"action\":i\n        }\n}\nreturn msg;","outputs":1,"noerr":0,"x":374,"y":432,"wires":[["c1f537c7.9a101"]]},{"id":"2b5b0a54.258a5e","type":"inject","z":"3bb3e48b.351834","name":"Device_11","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":560,"wires":[["a5abba3c.1dba8"]]},{"id":"a5abba3c.1dba8","type":"function","z":"3bb3e48b.351834","name":"","func":"var temp = Math.round(Math.random() * (23 - 22) + 22);\nvar hum = Math.round(Math.random() * (85 - 83) + 83);\nvar evap = Math.round(Math.random() * (50 - 40) + 40);\nvar light = Math.round(Math.random() * (800 - 780) + 78);\nvar i = Math.round(Math.random() *2);\n\nmsg.payload={\n    \"id\":\"BA:A9:5F:2B:5A:B3\",\n    \"pos\":\n        {\n            \"x\":2,\n            \"y\":2\n        },\n    \"param\": \n        {\n            \"light\": light,\n            \"temperature\":temp,\n            \"humidity\":hum,\n            \"evaporation\":evap,\n            \"action\":i\n        }\n}\nreturn msg;","outputs":1,"noerr":0,"x":374,"y":472,"wires":[["bde49511.7ee1e"]]},{"id":"c220cdb9.e6416","type":"inject","z":"3bb3e48b.351834","name":"Device_12","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":600,"wires":[["32b2f03.49ca49"]]},{"id":"32b2f03.49ca49","type":"function","z":"3bb3e48b.351834","name":"","func":"var temp = Math.round(Math.random() * (23 - 22) + 22);\nvar hum = Math.round(Math.random() * (85 - 83) + 83);\nvar evap = Math.round(Math.random() * (50 - 40) + 40);\nvar light = Math.round(Math.random() * (800 - 780) + 78);\nvar i = Math.round(Math.random() *2);\n\nmsg.payload={\n    \"id\":\"01:50:5D:A9:53:49\",\n    \"pos\":\n        {\n            \"x\":3,\n            \"y\":2\n        },\n    \"param\": \n        {\n            \"light\": light,\n            \"temperature\":temp,\n            \"humidity\":hum,\n            \"evaporation\":evap,\n            \"action\":i\n        }\n}\nreturn msg;","outputs":1,"noerr":0,"x":374,"y":512,"wires":[["96f0b1ec.39bb9"]]},{"id":"35905fef.c45458","type":"mqtt out","z":"3bb3e48b.351834","name":"Center_Broker","topic":"/filiot/data","qos":"2","retain":"true","broker":"3c694b42.0fd864","x":638,"y":202,"wires":[]},{"id":"6052255e.5a7bf4","type":"mqtt out","z":"3bb3e48b.351834","name":"Center_Broker","topic":"/filiot/data","qos":"2","retain":"true","broker":"3c694b42.0fd864","x":638,"y":242,"wires":[]},{"id":"dbc084e9.a4c36","type":"mqtt out","z":"3bb3e48b.351834","name":"Center_Broker","topic":"/filiot/data","qos":"2","retain":"true","broker":"3c694b42.0fd864","x":638,"y":282,"wires":[]},{"id":"e8b5ab3e.687438","type":"mqtt out","z":"3bb3e48b.351834","name":"Center_Broker","topic":"/filiot/data","qos":"2","retain":"true","broker":"3c694b42.0fd864","x":638,"y":322,"wires":[]},{"id":"7f6f4549.3a7b4c","type":"mqtt out","z":"3bb3e48b.351834","name":"Center_Broker","topic":"/filiot/data","qos":"2","retain":"true","broker":"3c694b42.0fd864","x":638,"y":362,"wires":[]},{"id":"f6a0f833.e2d69","type":"mqtt out","z":"3bb3e48b.351834","name":"Center_Broker","topic":"/filiot/data","qos":"2","retain":"true","broker":"3c694b42.0fd864","x":638,"y":402,"wires":[]},{"id":"e4699cf2.6de838","type":"mqtt out","z":"3bb3e48b.351834","name":"Center_Broker","topic":"/filiot/data","qos":"2","retain":"true","broker":"3c694b42.0fd864","x":638,"y":442,"wires":[]},{"id":"a67771a7.c44fe8","type":"mqtt out","z":"3bb3e48b.351834","name":"Center_Broker","topic":"/filiot/data","qos":"2","retain":"true","broker":"3c694b42.0fd864","x":638,"y":482,"wires":[]},{"id":"c1f537c7.9a101","type":"mqtt out","z":"3bb3e48b.351834","name":"Center_Broker","topic":"/filiot/data","qos":"2","retain":"true","broker":"3c694b42.0fd864","x":638,"y":522,"wires":[]},{"id":"bde49511.7ee1e","type":"mqtt out","z":"3bb3e48b.351834","name":"Center_Broker","topic":"/filiot/data","qos":"2","retain":"true","broker":"3c694b42.0fd864","x":638,"y":562,"wires":[]},{"id":"96f0b1ec.39bb9","type":"mqtt out","z":"3bb3e48b.351834","name":"Center_Broker","topic":"/filiot/data","qos":"2","retain":"true","broker":"3c694b42.0fd864","x":638,"y":602,"wires":[]},{"id":"6fc28448.aab4dc","type":"mqtt in","z":"969c8123.0adb28","name":"","topic":"/filiot/data","qos":"2","broker":"3c694b42.0fd864","x":78,"y":108,"wires":[["b9ad8c66.33b84"]]},{"id":"9b69b0f5.14fab","type":"inject","z":"cfae4c7b.5d51f","name":"Tick every 5 secs","topic":"test","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":"","x":150,"y":140,"wires":[["fb154859.535d18"]]},{"id":"5f1cbb4f.1bbec4","type":"websocket out","z":"cfae4c7b.5d51f","name":"","server":"b45471fd.f7df6","client":"","x":640,"y":120,"wires":[]},{"id":"582d9351.ca414c","type":"http response","z":"cfae4c7b.5d51f","name":"","statusCode":"","headers":{},"x":570,"y":60,"wires":[]},{"id":"edbd9c27.81b0d","type":"http in","z":"cfae4c7b.5d51f","name":"","url":"/simple","method":"get","upload":false,"swaggerDoc":"","x":160,"y":54,"wires":[["b8aeb5bc.684b28"]]},{"id":"b8aeb5bc.684b28","type":"template","z":"cfae4c7b.5d51f","name":"Simple Web Page","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE HTML>\n<html>\n    <head>\n    <title>Simple Live Display</title>\n    <script type=\"text/javascript\">\n        var ws;\n        var wsUri = \"ws:\";\n        var loc = window.location;\n        console.log(loc);\n        if (loc.protocol === \"https:\") { wsUri = \"wss:\"; }\n        // This needs to point to the web socket in the Node-RED flow\n        // ... in this case it's ws/simple\n        wsUri += \"//\" + loc.host + loc.pathname.replace(\"simple\",\"ws/simple\");\n\n        function wsConnect() {\n            console.log(\"connect\",wsUri);\n            ws = new WebSocket(wsUri);\n            //var line = \"\";    // either uncomment this for a building list of messages\n            ws.onmessage = function(msg) {\n                var line = \"\";  // or uncomment this to overwrite the existing message\n                // parse the incoming message as a JSON object\n                var data = msg.data;\n                //console.log(data);\n                // build the output from the topic and payload parts of the object\n                line += \"<p>\"+data+\"</p>\";\n                // replace the messages div with the new \"line\"\n                document.getElementById('messages').innerHTML = line;\n                //ws.send(JSON.stringify({data:data}));\n            }\n            ws.onopen = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"connected\";\n                //ws.send(\"Open for data\");\n                console.log(\"connected\");\n            }\n            ws.onclose = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"not connected\";\n                // in case of lost connection tries to reconnect every 3 secs\n                setTimeout(wsConnect,3000);\n            }\n        }\n        \n        function doit(m) {\n            if (ws) { ws.send(m); }\n        }\n    </script>\n    </head>\n    <body onload=\"wsConnect();\" onunload=\"ws.disconnect();\">\n        <font face=\"Arial\">\n        <h1>Simple Live Display</h1>\n        <div id=\"messages\"></div>\n        <button type=\"button\" onclick='doit(\"click\");'>Click to send message</button>\n        <hr/>\n        <div id=\"status\">unknown</div>\n        </font>\n    </body>\n</html>\n","output":"str","x":360,"y":54,"wires":[["582d9351.ca414c"]]},{"id":"fb154859.535d18","type":"function","z":"cfae4c7b.5d51f","name":"format time nicely","func":"msg.payload = Date(msg.payload).toString();\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":120,"wires":[["5f1cbb4f.1bbec4"]]},{"id":"bfa102fe.38393","type":"websocket in","z":"cfae4c7b.5d51f","name":"","server":"b45471fd.f7df6","client":"","x":480,"y":260,"wires":[["dd2effd9.3e945"]]},{"id":"dd2effd9.3e945","type":"debug","z":"cfae4c7b.5d51f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":690,"y":200,"wires":[]},{"id":"482cdb1c.693e54","type":"mqtt in","z":"cfae4c7b.5d51f","name":"","topic":"/filiot/data","qos":"2","broker":"3c694b42.0fd864","x":200,"y":220,"wires":[["5f1cbb4f.1bbec4"]]},{"id":"8fa76d87.f970a","type":"comment","z":"969c8123.0adb28","name":"","info":"https://www.codehub.vn/Lam-the-nao-de-ket-noi-Internet-cua-ban-cua-nhung-dieu-voi-Node-RED-tren-Ubuntu-16-04","x":240,"y":234,"wires":[]},{"id":"24baadf4.30c78a","type":"template","z":"6b3187e3.2a90d","name":"Header","field":"payload.header","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<header>\n\t<h1>NodeRED Sample Application</h1>\n\t<nav>\n\t\t<ul>\n\t\t\t<li class=\"dropdown\"><a href=\"/home\">Home</a>\n\t\t\t    <ul class=\"dropdown-content\">\n\t\t\t        <li><a href=\"/home?action=list\">List</a></li>\n\t\t\t        <li><a href=\"/home?action=save\">Save</a></li>\n\t\t\t    </ul>\n\t\t\t</li>\n            <li class=\"dropdown\"><a href=\"/monitor\">Monitor</a>\n                <ul class=\"dropdown-content\">\n                    <li><a href=\"/monitor?action=list\">List</a></li>\n                    <li><a href=\"/monitor?action=add\">Add</a></li>\n                </ul>\n            </li>\n            <li><a href=\"/contact\">Contact</a></li>\n            <li><a href=\"/about\">About</a></li>\n\t\t</ul>\n\t</nav>\n</header>","x":276,"y":216,"wires":[["da237215.26202"]]},{"id":"c79d1275.1b58a","type":"http in","z":"6b3187e3.2a90d","name":"","url":"/home","method":"get","upload":false,"swaggerDoc":"","x":81,"y":106,"wires":[["2fdeb3c5.c8c84c","3fe8703d.bdff5"]]},{"id":"9aa8a74e.c05f3","type":"http response","z":"6b3187e3.2a90d","name":"","statusCode":"","headers":{},"x":716,"y":810,"wires":[]},{"id":"1ae143e2.f2a2f4","type":"template","z":"6b3187e3.2a90d","name":"Home","field":"payload.section","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<section class=\"courses\">\n<a href=\"/home\">\n\t<article>\n\t\t<figure>\n\t\t\t<img src=\"images/bok-choi.jpg\" alt=\"Home\" />\n\t\t\t<figcaption>Home</figcaption>\n\t\t</figure>\n\t\t<hgroup>\n\t\t\t<h2>Home Page</h2>\n\t\t\t<h3>This is my home page</h3>\n\t\t</hgroup>\n\t\t<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>\n\t</article>\n</a>\n</section>","x":680,"y":360,"wires":[["c7f3ff51.1147b"]]},{"id":"583470b4.0f47e8","type":"template","z":"6b3187e3.2a90d","name":"Monitor","field":"payload.section","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{{payload.select}}}\n<section class=\"courses\">\n<a href=\"/Monitor\">\n\t<article>\n\t\t<figure>\n\t\t\t<img src=\"images/teriyaki.jpg\" alt=\"News\" />\n\t\t\t<figcaption>Monitor</figcaption>\n\t\t</figure>\n\t\t<hgroup>\n\t\t\t<h2>Monitor Page</h2>\n\t\t\t<h3>This is the Monitor Page</h3>\n\t\t</hgroup>\n\t\t<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>\n\t</article>\n</a>\n</section>","x":681,"y":488,"wires":[["c7f3ff51.1147b"]]},{"id":"29cb86d9.40caea","type":"http in","z":"6b3187e3.2a90d","name":"","url":"/monitor","method":"get","upload":false,"swaggerDoc":"","x":81,"y":149,"wires":[["2fdeb3c5.c8c84c"]]},{"id":"45ffbaa3.1c9f34","type":"switch","z":"6b3187e3.2a90d","name":"Page Switch","property":"req._parsedUrl.pathname","propertyType":"msg","rules":[{"t":"eq","v":"/home","vt":"str"},{"t":"eq","v":"/monitor","vt":"str"},{"t":"eq","v":"/contact","vt":"str"},{"t":"eq","v":"/about","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":178,"y":378,"wires":[["24cbbf43.d187f8"],["dab6f41f.85df9"],["66117f7b.77969"],["c8e4faf0.ad9a3"]]},{"id":"c7f3ff51.1147b","type":"template","z":"6b3187e3.2a90d","name":"Footer","field":"payload.footer","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<footer>\n\t&copy; 2017 Speed Junior\n</footer>","x":968,"y":648,"wires":[["e3d3b98d.acaee"]]},{"id":"b29db929.4617f","type":"http in","z":"6b3187e3.2a90d","name":"","url":"/contact","method":"get","swaggerDoc":"","x":81,"y":195,"wires":[["2fdeb3c5.c8c84c"]]},{"id":"641f315d.484bf8","type":"http in","z":"6b3187e3.2a90d","name":"","url":"/about","method":"get","swaggerDoc":"","x":78,"y":246,"wires":[["2fdeb3c5.c8c84c"]]},{"id":"26519ff4.76719","type":"template","z":"6b3187e3.2a90d","name":"Contact","field":"payload.section","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<section class=\"courses\">\n<a href=\"/contact\">\n\t<article>\n\t\t<figure>\n\t\t\t<img src=\"images/bok-choi.jpg\" alt=\"Contact\" />\n\t\t\t<figcaption>Contact</figcaption>\n\t\t</figure>\n\t\t<hgroup>\n\t\t\t<h2>Contact Page</h2>\n\t\t\t<h3>This is contact page</h3>\n\t\t</hgroup>\n\t\t<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>\n\t</article>\n</a>\n</section>\n","x":669,"y":638,"wires":[["c7f3ff51.1147b"]]},{"id":"53727b37.c524c4","type":"template","z":"6b3187e3.2a90d","name":"About","field":"payload.section","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<section class=\"courses\">\n<a href=\"/about\">\n\t<article>\n\t\t<figure>\n\t\t\t<img src=\"images/teriyaki.jpg\" alt=\"About\" />\n\t\t\t<figcaption>About</figcaption>\n\t\t</figure>\n\t\t<hgroup>\n\t\t\t<h2>About Page</h2>\n\t\t\t<h3>This is my about page</h3>\n\t\t</hgroup>\n\t\t<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>\n\t</article>\n</a>\n</section>\n","x":665,"y":692,"wires":[["c7f3ff51.1147b"]]},{"id":"2fdeb3c5.c8c84c","type":"template","z":"6b3187e3.2a90d","name":"CSS","field":"payload.style","fieldType":"msg","format":"css","syntax":"mustache","template":"ul {\n    list-style-type: none;\n    margin: 0;\n    padding: 0;\n    overflow: hidden;\n    background-color: #333;\n}\n\nli {\n    float: left;\n}\n\nli a, .dropbtn {\n    display: inline-block;\n    color: white;\n    text-align: center;\n    padding: 14px 16px;\n    text-decoration: none;\n}\n\nli a:hover, .dropdown:hover .dropbtn {\n    background-color: red;\n}\n\nli.dropdown {\n    display: inline-block;\n}\n\n.dropdown-content {\n    display: none;\n    position: absolute;\n    background-color: #f9f9f9;\n    min-width: 160px;\n    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);\n    z-index: 1;\n}\n\n.dropdown-content a {\n    color: black;\n    padding: 12px 16px;\n    text-decoration: none;\n    display: block;\n    text-align: left;\n}\n\n.dropdown-content a:hover {background-color: #f1f1f1}\n\n.dropdown:hover .dropdown-content {\n    display: block;\n}","x":283,"y":161,"wires":[["24baadf4.30c78a"]]},{"id":"41277715.762c58","type":"template","z":"6b3187e3.2a90d","name":"Page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>NodeRED WebPage Template</title>\n        <style>{{{payload.style}}}</style>\n    </head>\n    <body>\n    <div class=\"wrapper\">\n        {{{payload.header}}}\n        {{{payload.section}}}\n        {{{payload.footer}}}\n    </div>\n    </body>\n</html>","x":554,"y":846,"wires":[["9aa8a74e.c05f3"]]},{"id":"a886565a.570268","type":"comment","z":"6b3187e3.2a90d","name":"NodeRED Web Site SPDFramework","info":"","x":180,"y":62,"wires":[]},{"id":"da237215.26202","type":"function","z":"6b3187e3.2a90d","name":"Global Settings","func":"global.set('header', msg.payload.header);\nglobal.set('style', msg.payload.style);\nreturn msg;","outputs":1,"noerr":0,"x":287,"y":268,"wires":[["45ffbaa3.1c9f34"]]},{"id":"e3d3b98d.acaee","type":"function","z":"6b3187e3.2a90d","name":"Assembly Payload","func":"msg.payload.header = global.get('header');\nmsg.payload.style = global.get('style');\nreturn msg;","outputs":1,"noerr":0,"x":216,"y":792,"wires":[["41277715.762c58"]]},{"id":"36e16b1.d099414","type":"switch","z":"6b3187e3.2a90d","name":"monitor action switch","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"list","vt":"str"},{"t":"eq","v":"add","vt":"str"}],"checkall":"false","outputs":2,"x":510,"y":539,"wires":[["8c84f48e.6c78a"],["e53907d7.45da08"]]},{"id":"66117f7b.77969","type":"switch","z":"6b3187e3.2a90d","name":"contact action","property":"req._parsedUrl.query","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"false","repair":false,"outputs":2,"x":440,"y":594,"wires":[["26519ff4.76719"],[]]},{"id":"c8e4faf0.ad9a3","type":"switch","z":"6b3187e3.2a90d","name":"about action","property":"req._parsedUrl.query","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"false","outputs":2,"x":411,"y":702,"wires":[["53727b37.c524c4"],[]]},{"id":"24cbbf43.d187f8","type":"switch","z":"6b3187e3.2a90d","name":"home circuit","property":"req._parsedUrl.query","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":376,"y":360,"wires":[["1ae143e2.f2a2f4"],["d27ef6e2.6cadf8"]]},{"id":"dab6f41f.85df9","type":"switch","z":"6b3187e3.2a90d","name":"monitor circuit","property":"req._parsedUrl.query","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","outputs":2,"x":483,"y":472,"wires":[["583470b4.0f47e8"],["36e16b1.d099414"]]},{"id":"d27ef6e2.6cadf8","type":"switch","z":"6b3187e3.2a90d","name":"home action switch","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"list","vt":"str"},{"t":"eq","v":"save","vt":"str"}],"checkall":"true","outputs":2,"x":493,"y":419,"wires":[["8f74267.f58e8d8"],["c7767239.ce6268"]]},{"id":"8f74267.f58e8d8","type":"template","z":"6b3187e3.2a90d","name":"Home - List","field":"payload.section","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<div>\n    <h2>This is my Home - List Action Result</h2>\n</div>","x":698,"y":411,"wires":[["c7f3ff51.1147b"]]},{"id":"c7767239.ce6268","type":"template","z":"6b3187e3.2a90d","name":"Home - Save","field":"payload.section","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<div>\n    <h2>This is my Home - Save Action Result</h2>\n</div>","x":698,"y":445,"wires":[["c7f3ff51.1147b"]]},{"id":"8c84f48e.6c78a","type":"template","z":"6b3187e3.2a90d","name":"Monitor - List","field":"payload.section","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<div>\n    <h2>This is my Monitor - List Action Result</h2>\n</div>","x":711,"y":534,"wires":[["c7f3ff51.1147b"]]},{"id":"e53907d7.45da08","type":"template","z":"6b3187e3.2a90d","name":"Monitor - Add","field":"payload.section","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<div>\n    <h2>This is my Monitor - Add Action Result</h2>\n</div>","x":720,"y":568,"wires":[["c7f3ff51.1147b"]]},{"id":"b9ad8c66.33b84","type":"json","z":"969c8123.0adb28","name":"","property":"payload","action":"","pretty":true,"x":158,"y":162,"wires":[["122d5983.8cfc96"]]},{"id":"3318c506.fb472a","type":"comment","z":"969c8123.0adb28","name":"Flow Add Data to MongoDB","info":"Information : \n    IP 22.66.192.46 \n    LAN IP : 192.168.1.24 Static\n    port 27017\n    enable port forwarding router\n    run MongDB Server (mongod.exe) on --dbpath & --bind_ip_all","x":140,"y":40,"wires":[]},{"id":"7abec57d.0776cc","type":"comment","z":"969c8123.0adb28","name":"Query Data","info":"","x":88,"y":234,"wires":[]},{"id":"122d5983.8cfc96","type":"function","z":"969c8123.0adb28","name":"","func":"var date = new Date();\n//ate = date.toGMTString();\n//date = date.getUTCDate();\nvar mac = msg.payload.mac;\nvar pos = msg.payload.pos;\nvar power = msg.payload.power;\nvar param = msg.payload.param;\nvar extra = msg.payload.extra;\nmsg.payload = {\n    \"mac\":mac,\n    \"pos\":pos,\n    \"power\":power,\n    \"param\":param,\n    \"extra\":extra,\n    \"time\":date\n}\nreturn msg;","outputs":1,"noerr":0,"x":266,"y":108,"wires":[["136956e0.5aff69","5bb40246.7b436c","cf7311d5.3f8e7"]]},{"id":"136956e0.5aff69","type":"debug","z":"969c8123.0adb28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":376,"y":36,"wires":[]},{"id":"a1129866.1d6a98","type":"mongodb3 in","z":"969c8123.0adb28","service":"_ext_","configNode":"2d3fd788.621d48","name":"","collection":"irrdata","operation":"aggregate.toArray","x":412,"y":288,"wires":[["73375487.34ea5c"]]},{"id":"73375487.34ea5c","type":"debug","z":"969c8123.0adb28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":754,"y":288,"wires":[]},{"id":"a2477e2.126c08","type":"inject","z":"969c8123.0adb28","name":"","topic":"","payload":"true","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":86,"y":288,"wires":[["a1129866.1d6a98"]]},{"id":"5bb40246.7b436c","type":"mongodb3 in","z":"969c8123.0adb28","service":"_ext_","configNode":"2d3fd788.621d48","name":"","collection":"irrdata","operation":"insert","x":588,"y":90,"wires":[["788de566.d0e7bc"]]},{"id":"788de566.d0e7bc","type":"debug","z":"969c8123.0adb28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":898,"y":90,"wires":[]},{"id":"7ce485f9.4b8bcc","type":"comment","z":"969c8123.0adb28","name":"Truy Van Toan Bo Du Lieu","info":"","x":434,"y":234,"wires":[]},{"id":"3fe8703d.bdff5","type":"debug","z":"6b3187e3.2a90d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":286,"y":108,"wires":[]},{"id":"cf7311d5.3f8e7","type":"mongodb2 in","z":"969c8123.0adb28","service":"_ext_","configNode":"a457c44e.c8fca8","name":"[Mongo Atlas] Add Data","collection":"irrgation","operation":"insert","x":488,"y":144,"wires":[["3dc6ef5e.5465d"]]},{"id":"3dc6ef5e.5465d","type":"debug","z":"969c8123.0adb28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":700,"y":144,"wires":[]},{"id":"71989844.67c8e8","type":"inject","z":"969c8123.0adb28","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":96,"y":342,"wires":[["bd16027a.38bd2"]]},{"id":"bd16027a.38bd2","type":"mongodb2 in","z":"969c8123.0adb28","service":"_ext_","configNode":"a457c44e.c8fca8","name":"[Mongo Atlas] Query All","collection":"irrgation","operation":"aggregate.toArray","x":308,"y":342,"wires":[["6090b4ab.39797c"]]},{"id":"6090b4ab.39797c","type":"debug","z":"969c8123.0adb28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":538,"y":342,"wires":[]},{"id":"e12784e2.0430e","type":"http in","z":"26ed7d08.b648f2","name":"","url":"/callback","method":"get","upload":false,"swaggerDoc":"","x":250,"y":54,"wires":[["e7ccec.34853318"]]},{"id":"e7ccec.34853318","type":"function","z":"26ed7d08.b648f2","name":"Verify Webhook","func":"var mode = '';\nvar vtoken = '';\nvar challenge = '';\nif (msg.payload['hub.mode'])\n{\n   mode = msg.payload['hub.mode'];\n}\nif (msg.payload['hub.verify_token'])\n{\n   vtoken = msg.payload['hub.verify_token'];\n}\nif (msg.payload['hub.challenge'])\n{\n   challenge = msg.payload['hub.challenge'];\n}\nif ('subscribe' == mode &&\n 'jovhoeggxyc0gy4ezbj3' == vtoken) {\n   msg.payload = challenge;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":54,"wires":[["ae4098e6.bc4938"]]},{"id":"ae4098e6.bc4938","type":"http response","z":"26ed7d08.b648f2","name":"","statusCode":"","headers":{},"x":608,"y":54,"wires":[]},{"id":"7a1051c3.f4a4f8","type":"http request","z":"26ed7d08.b648f2","name":"Send API Request","method":"POST","ret":"obj","url":"https://graph.facebook.com/v2.6/me/messages?access_token=EAAgMabuw1zQBAOc84X5P1zxKQzkbu07mLiZCWtriuYTwZCTQwZBj9vWMmOykVimJa0mC2o8CVvv6dcv6mE51thjdT2Mp53oS1cThq3VT3IttyMu1YZA75YGlUGz4aHEbyR1ZAod72suhIuWFsJoMFuGD7eONcfS0yqyn1ia4bdUtAeUUeT2QC","tls":"","x":486,"y":180,"wires":[["70e9c08d.614f2"]]},{"id":"dd562dc2.e85908","type":"comment","z":"26ed7d08.b648f2","name":"Get with FB","info":"Thiết lập Webhooks . FB sẽ gửi nhận tại địa chỉ :\nhttps://conv-201-196-testtreetracking.eu-gb.mybluemix.net/urlcallback","x":88,"y":54,"wires":[]},{"id":"e0ee17b8.d9296","type":"http in","z":"26ed7d08.b648f2","name":"","url":"/callback","method":"post","upload":true,"swaggerDoc":"","x":98,"y":198,"wires":[["8de4b932.6a34d","d357667b.74a13","7f9222cf.b88fbc","263d7543.b8aafa"]]},{"id":"8de4b932.6a34d","type":"http response","z":"26ed7d08.b648f2","name":"","statusCode":"","headers":{},"x":284,"y":162,"wires":[]},{"id":"d357667b.74a13","type":"debug","z":"26ed7d08.b648f2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload.entry.0.messaging.0.sender.id","x":386,"y":288,"wires":[]},{"id":"7f9222cf.b88fbc","type":"function","z":"26ed7d08.b648f2","name":"String Out","func":"var temp = global.get('temp');\nvar hum = global.get('hum');\nvar evap = global.get('eva');\nvar light= global.get('light');\nvar action = global.get('act');\nvar str = [\"Không\",\"Vừa\",\"Nhiều\"];\nvar date = new Date();\nvar text = \"Thông số vừa cập nhật :\\n\";\ntext += \"Nhiệt độ : \" + temp + \" °C\\n\";\ntext += \"Độ ẩm : \" + hum + \" %\\n\";\ntext += \"Tốc độ bay hơi : \" +evap+ \" (%/s)\\n\";\ntext += \"Cường độ ánh sáng : \" + light + \" (lux)\\n\";\ntext += \"Mức bơm nước : \" + str[action] + \"\\n\";\ntext +=\"Time: \" + date + \"\\n\";\nvar senderId = msg.payload.entry[\"0\"].messaging[\"0\"].sender.id\n//var senderId = \"1820392304750563\";\nmsg.payload =\n{\n\"recipient\": {\n\"id\": senderId\n},\n\"message\": {\n\"text\": text\n}\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":304,"y":198,"wires":[["13ba1d56.90c993","7a1051c3.f4a4f8"]]},{"id":"13ba1d56.90c993","type":"debug","z":"26ed7d08.b648f2","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":494,"y":234,"wires":[]},{"id":"70e9c08d.614f2","type":"debug","z":"26ed7d08.b648f2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":664,"y":180,"wires":[]},{"id":"8e7436cd.ba3a","type":"comment","z":"26ed7d08.b648f2","name":"Event handling","info":"","x":98,"y":126,"wires":[]},{"id":"eaa22b26.2f778","type":"function","z":"5a06ca21.c33824","name":"Temperature","func":"msg.topic=\"Temperature(°C)\";\n\nvar temp = msg.payload.param.temp;\nglobal.set('temp',temp);\n\nmsg.payload = msg.payload.param.temp;\nreturn msg;","outputs":1,"noerr":0,"x":466,"y":86,"wires":[["7b85dde5.1cff6c","5da0ffe8.d873","97d54f57.69e758","471e3058.c023f"]]},{"id":"e355071b.e5a","type":"function","z":"5a06ca21.c33824","name":"Humidity","func":"msg.topic=\"Humidity(%)\";\nvar hum = msg.payload.param.hum;\nglobal.set('hum',hum);\n\nmsg.payload = msg.payload.param.hum;\nreturn msg;","outputs":1,"noerr":0,"x":456,"y":146,"wires":[["1be2dcd9.757e83","5da0ffe8.d873","1d4419be.3cbce6","58440cc1.2d11c4"]]},{"id":"24c228a6.498488","type":"function","z":"5a06ca21.c33824","name":"Evaporation","func":"msg.topic=\"Evaporation(%/s)\";\n\nvar eva = msg.payload.param.eva;\nglobal.set('eva',eva);\n\nmsg.payload = msg.payload.param.eva;\nreturn msg;","outputs":1,"noerr":0,"x":466,"y":206,"wires":[["940d0204.596ea8","22f6fb8b.104614"]]},{"id":"f4707857.d079e8","type":"function","z":"5a06ca21.c33824","name":"Light","func":"msg.topic=\"Light(x10lux)\";\n\nvar light = msg.payload.param.light;\nglobal.set('light',light);\n\nmsg.payload = msg.payload.param.light;\nreturn msg;","outputs":1,"noerr":0,"x":446,"y":246,"wires":[["f2e0ab91.9aa9f8","22f6fb8b.104614","5256c93e.166d7","2e172ca2.5a68ac"]]},{"id":"256d0ef1.17f722","type":"json","z":"5a06ca21.c33824","name":"","property":"payload","action":"","pretty":false,"x":186,"y":206,"wires":[["eaa22b26.2f778","e355071b.e5a","24c228a6.498488","f4707857.d079e8","2e08c527.9d12ba"]]},{"id":"ee347f78.153038","type":"comment","z":"5a06ca21.c33824","name":"Nhận dữ liệu từ Cloudmqtt","info":"","x":110,"y":72,"wires":[]},{"id":"59eb0f9d.bf29b8","type":"comment","z":"5a06ca21.c33824","name":"Covert bản tin nhận được sang JSON_payload","info":"","x":176,"y":266,"wires":[]},{"id":"f6ac9cbe.0291d8","type":"comment","z":"5a06ca21.c33824","name":"Các hàm lấy các giá trị từ payload","info":"","x":436,"y":46,"wires":[]},{"id":"cd10e9aa.18c688","type":"comment","z":"5a06ca21.c33824","name":"Đưa các thông số lên chart_board","info":"","x":766,"y":46,"wires":[]},{"id":"b51cb52b.11c3b8","type":"ui_text","z":"5a06ca21.c33824","group":"a44b2bb9.603be8","order":5,"width":0,"height":0,"name":"","label":"Water Pump","format":"{{msg.payload}}","layout":"row-spread","x":686,"y":326,"wires":[]},{"id":"7b85dde5.1cff6c","type":"ui_gauge","z":"5a06ca21.c33824","name":"","group":"a44b2bb9.603be8","order":1,"width":"4","height":"4","gtype":"gage","title":"Temperature","label":"","format":"{{value}} °C","min":0,"max":"100","colors":["#ffff00","#00ff00","#ca3838"],"seg1":"18","seg2":"40","x":686,"y":86,"wires":[]},{"id":"1be2dcd9.757e83","type":"ui_gauge","z":"5a06ca21.c33824","name":"","group":"a44b2bb9.603be8","order":2,"width":"4","height":"4","gtype":"gage","title":"Humidity","label":"","format":"{{value}} %","min":0,"max":"100","colors":["#ffff00","#00ff00","#ff8040"],"seg1":"65","seg2":"90","x":676,"y":166,"wires":[]},{"id":"940d0204.596ea8","type":"ui_gauge","z":"5a06ca21.c33824","name":"","group":"a44b2bb9.603be8","order":3,"width":"4","height":"4","gtype":"gage","title":"Evaporation","label":"","format":"{{value}} %/s","min":0,"max":"100","colors":["#ffff00","#00ff00","#ca3838"],"seg1":"25","seg2":"75","x":686,"y":206,"wires":[]},{"id":"f2e0ab91.9aa9f8","type":"ui_gauge","z":"5a06ca21.c33824","name":"","group":"a44b2bb9.603be8","order":4,"width":"4","height":"4","gtype":"gage","title":"Light","label":"","format":"{{value}} lux","min":0,"max":"100","colors":["#ffff00","#0ed818","#ca3838"],"seg1":"15","seg2":"75","x":666,"y":286,"wires":[]},{"id":"5da0ffe8.d873","type":"ui_chart","z":"5a06ca21.c33824","name":"","group":"f67532d2.53e378","order":0,"width":0,"height":0,"label":"Temperature and Humidity","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#ff0000","#00ff00","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":735,"y":123,"wires":[[],[]]},{"id":"22f6fb8b.104614","type":"ui_chart","z":"5a06ca21.c33824","name":"","group":"f67532d2.53e378","order":0,"width":0,"height":0,"label":"Light and Evaporation","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#ff8000","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":716,"y":246,"wires":[[],[]]},{"id":"ef86839d.225718","type":"function","z":"641b164b.95aa68","name":"","func":"function sum(a,b){\n    return a+b;\n}\n\ntong = sum(msg.payload.var1, msg.payload.var2);\n\nmsg.payload = tong;\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":234,"wires":[["244839b9.9641c6"]]},{"id":"6574cdcc.427794","type":"inject","z":"641b164b.95aa68","name":"","topic":"","payload":"{\"var1\":3,\"var2\":3}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":246,"y":162,"wires":[["ef86839d.225718"]]},{"id":"244839b9.9641c6","type":"debug","z":"641b164b.95aa68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":448,"y":162,"wires":[]},{"id":"24507c61.5e056c","type":"function","z":"641b164b.95aa68","name":"","func":"const a = [0,1,2];\nglobal.set(\"a\",[0,1,2]);\nconst water = [0,5,20];\nconst vth = 3;\nconst L = -1;\nconst OK = 0;\nconst H = 1;\nconst countAction = 3;\nconst countState = 3;\nconst alpha = (water[2] - water[1])/(vth*(a[2]-a[1]));\nconst penalty = 100;\nconst th1 = 15;\nconst th2 = 60;\n\nvar v;\nvar boolean_v;\nfunction humid2State(humid)\n{\n    if(humid < th1 ) return L;\n    if(humid > th2 ) return H;\n    return OK;\n}\n\nfunction reward(curState,action,nextState)\n{\n    var p=0;\n    if(nextState != OK) p= penalty;\n    var r = -(alpha)*curState*v*a[action]-water[action]-p;\n    return r;\n}\nfunction makeDecision(curHumid,preHumid)\n{\n    var curState = humid2State(curHumid);\n    v = preHumid - curHumid;\n    var tmpReward = 0;\n    var maxReward = -2000;\n    var nextHumid;\n    var nextState;\n    var action;\n    for (var i=0;i<countAction;i++)\n    {\n        nextHumid\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":302,"y":126,"wires":[[]]},{"id":"ee145a0b.527e9","type":"mqtt out","z":"3bb3e48b.351834","name":"Center_Broker","topic":"/filiot/data","qos":"2","retain":"true","broker":"3c694b42.0fd864","x":624,"y":90,"wires":[]},{"id":"263d7543.b8aafa","type":"debug","z":"26ed7d08.b648f2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":414,"y":360,"wires":[]},{"id":"b6a32239.f622e","type":"http in","z":"efbe105c.8ef5c","name":"","url":"/urlcallback","method":"get","upload":false,"swaggerDoc":"","x":280,"y":180,"wires":[["a988ea0a.216648","c809f9e5.8dc618"]]},{"id":"c809f9e5.8dc618","type":"function","z":"efbe105c.8ef5c","name":"Verify Webhook Address","func":"var mode = '';\nvar vtoken = '';\nvar challenge = '';\nif (msg.payload['hub.mode'])\n{\n   mode = msg.payload['hub.mode'];\n}\nif (msg.payload['hub.verify_token'])\n{\n   vtoken = msg.payload['hub.verify_token'];\n}\nif (msg.payload['hub.challenge'])\n{\n   challenge = msg.payload['hub.challenge'];\n}\nif ('subscribe' == mode &&\n 'thisismystringtokenapp' == vtoken) {\n   msg.payload = challenge;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":220,"wires":[["7262703f.1e174"]]},{"id":"7262703f.1e174","type":"http response","z":"efbe105c.8ef5c","name":"","statusCode":"","headers":{},"x":710,"y":220,"wires":[]},{"id":"a988ea0a.216648","type":"debug","z":"efbe105c.8ef5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":470,"y":160,"wires":[]},{"id":"1a2ab8b2.a48ea7","type":"comment","z":"efbe105c.8ef5c","name":"Xác nhận địa chỉ Webhook","info":"","x":490,"y":100,"wires":[]},{"id":"9154affd.e737e","type":"mqtt in","z":"5a06ca21.c33824","name":"","topic":"/raspian/results","qos":"2","broker":"83d885ee.a68128","x":150,"y":120,"wires":[["256d0ef1.17f722"]]},{"id":"471e3058.c023f","type":"ui_chart","z":"5a06ca21.c33824","name":"","group":"47bffe95.372b1","order":5,"width":"12","height":"4","label":"Temperature","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"10","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":510,"y":440,"wires":[[],[]]},{"id":"58440cc1.2d11c4","type":"ui_chart","z":"5a06ca21.c33824","name":"","group":"47bffe95.372b1","order":6,"width":"12","height":"4","label":"Humidity","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"10","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":500,"y":480,"wires":[[],[]]},{"id":"2e172ca2.5a68ac","type":"ui_chart","z":"5a06ca21.c33824","name":"","group":"47bffe95.372b1","order":7,"width":"12","height":"4","label":"Luminous Intensity","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"10","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":530,"y":520,"wires":[[],[]]},{"id":"97d54f57.69e758","type":"ui_text","z":"5a06ca21.c33824","group":"26f1954b.095532","order":0,"width":"8","height":"1","name":"","label":"Temperature","format":"{{msg.payload}} °C","layout":"row-spread","x":730,"y":420,"wires":[]},{"id":"1d4419be.3cbce6","type":"ui_text","z":"5a06ca21.c33824","group":"26f1954b.095532","order":1,"width":"8","height":"1","name":"","label":"Humidity","format":"{{msg.payload}} %","layout":"row-spread","x":720,"y":460,"wires":[]},{"id":"5256c93e.166d7","type":"ui_text","z":"5a06ca21.c33824","group":"26f1954b.095532","order":5,"width":"8","height":"1","name":"","label":"Luminous Intensity","format":"{{msg.payload}} lux","layout":"row-spread","x":750,"y":500,"wires":[]},{"id":"2e08c527.9d12ba","type":"function","z":"5a06ca21.c33824","name":"Action","func":"var act = msg.payload.param.act;\n\n\n\nvar str= [\"No\",\"Litter\",\"Many\"] ;\nglobal.set('act',act);\nmsg.payload =str[act];\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":320,"wires":[["b51cb52b.11c3b8","f2702984.b2096","e3a38285.5f85a"]]},{"id":"f2702984.b2096","type":"ui_text","z":"5a06ca21.c33824","group":"26f1954b.095532","order":3,"width":"8","height":"1","name":"","label":"Action","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":540,"wires":[]},{"id":"e3a38285.5f85a","type":"mongodb2 in","z":"5a06ca21.c33824","service":"_ext_","configNode":"a457c44e.c8fca8","name":"Status","collection":"irrgation","operation":"stats","x":1010,"y":480,"wires":[["bb603c0d.92e2a8","c64db34c.8c0c48","7877b266.fc7194"]]},{"id":"bb603c0d.92e2a8","type":"function","z":"5a06ca21.c33824","name":"Size","func":"msg.payload = msg.payload.size;\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":420,"wires":[["57132aa8.04bfbc"]]},{"id":"c64db34c.8c0c48","type":"function","z":"5a06ca21.c33824","name":"Count","func":"msg.payload = msg.payload.count;\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":460,"wires":[["cb5b018e.64313"]]},{"id":"7877b266.fc7194","type":"function","z":"5a06ca21.c33824","name":"Name","func":"msg.payload = msg.payload.ns;\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":500,"wires":[["2bd1dce1.cf589c"]]},{"id":"57132aa8.04bfbc","type":"ui_text","z":"5a06ca21.c33824","group":"e763d79a.cb276","order":5,"width":0,"height":0,"name":"","label":"Size","format":"{{msg.payload}} B","layout":"row-spread","x":1320,"y":420,"wires":[]},{"id":"cb5b018e.64313","type":"ui_text","z":"5a06ca21.c33824","group":"e763d79a.cb276","order":6,"width":0,"height":0,"name":"","label":"Count","format":"{{msg.payload}} doc","layout":"row-spread","x":1320,"y":480,"wires":[]},{"id":"2bd1dce1.cf589c","type":"ui_text","z":"5a06ca21.c33824","group":"e763d79a.cb276","order":7,"width":0,"height":0,"name":"","label":"Name","format":"{{msg.payload}}","layout":"row-spread","x":1320,"y":540,"wires":[]}]
