manage.txt
[{"id":"9c7a7b0d.293cc8","type":"tab","label":"Manage-Process","disabled":false,"info":""},{"id":"ad6916f8.4f7b28","type":"mosca in","z":"9c7a7b0d.293cc8","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"fillab","password":"123123123","dburl":"mongodb://localhost:27017/mqtt","x":190,"y":100,"wires":[["fb9cfbbc.400fd8"]]},{"id":"fb9cfbbc.400fd8","type":"debug","z":"9c7a7b0d.293cc8","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":380,"y":100,"wires":[]},{"id":"35debec7.2112d2","type":"mqtt in","z":"9c7a7b0d.293cc8","name":"","topic":"/data/packet","qos":"2","datatype":"auto","broker":"baf2a018.4e319","x":170,"y":220,"wires":[["9a8bcea9.f94e2","d1b5b2fd.ef748","a65b58f7.9fb0e8"]]},{"id":"9a8bcea9.f94e2","type":"json","z":"9c7a7b0d.293cc8","name":"","property":"payload","action":"","pretty":false,"x":310,"y":280,"wires":[["d7ff21fb.dcd5c"]]},{"id":"d1b5b2fd.ef748","type":"function","z":"9c7a7b0d.293cc8","name":"Messenger (Thang)","func":"var cmd = msg.payload;\nvar senderId = \"2591312210896244\";\nmsg.payload =\n{\n\"recipient\": {\n\"id\": senderId\n},\n\"message\": {\n\"text\": cmd\n}\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":350,"y":180,"wires":[["89d16986.548f88"]]},{"id":"89d16986.548f88","type":"http request","z":"9c7a7b0d.293cc8","name":"Send API Request","method":"POST","ret":"obj","paytoqs":false,"url":"https://graph.facebook.com/v2.6/me/messages?access_token=EAADvzBMwUyQBAC45d4mPGX6OoEHt7SuH5NsSb7SVbzhPvsy6DjqE0sown1e8766RZACmZAgPShDTLiWgtkgabPnzzZATfCbnZAuHrS100UZB1UjpUVcjyVn0Wo62xpSOoInE6arq5P4TAcrrGQ98RBKrb60gpdEpZC97euamasagZDZD","tls":"","proxy":"","x":550,"y":180,"wires":[["c459e538.b5cab8"]]},{"id":"c459e538.b5cab8","type":"debug","z":"9c7a7b0d.293cc8","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":740,"y":180,"wires":[]},{"id":"33cc66fd.55ccfa","type":"function","z":"9c7a7b0d.293cc8","name":"Run-Algorithms-VAN","func":"var a = [0, 1, 2];\nvar water = [5, 10, 20];\nvar Vth = 3;\nvar L = -1;\nvar OK = 0;\nvar H = 1;';'\nvar penalty = 100;\n\n\nvar alpha = (water[2] - water[1])/(Vth*(a[2]- a[1]));\n\nvar preHum = global.get(\"preHum\");\nvar curHum = global.get(\"curHum\");\nvar v;\nvar th1 = 25;\nvar th2 = 60;\nfunction humid2State(humid)\n{\n    if(humid < th1) return L;\n    if(humid > th2) return H;\n    return OK;\n}\n\nfunction reward(curState, action, nextState)\n{\n    var p = 0;\n    if(nextState != OK) p = penalty;\n    var r = -alpha* curState * v * a[action] - water[action] - p;\n    return r;\n}\n\nfunction makeDecision(curHumid, preHumid)\n{\n    var maxReward = -2000;\n    var curState = humid2State(curHumid);\n    v = preHumid - curHumid;\n    var tmpReward = 0;\n    var nextHumid;\n    var nextState;\n    var action;\n    \n    for(var i = 0; i < 3; i++)\n    {\n        nextHumid = curHumid - v + water[i];\n        nextState = humid2State(nextHumid);\n        tmpReward = reward(curState, i , nextState);\n        if(tmpReward >= maxReward)\n        {\n            maxReward = tmpReward;\n            action = i;\n        }\n    }\n    return a[action];\n}\n\nvar control = makeDecision(curHum, preHum);\nmsg.payload = control;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1900,"y":640,"wires":[["b4b5aa86.8bef58","17e2a82a.d1a278"]]},{"id":"b4b5aa86.8bef58","type":"function","z":"9c7a7b0d.293cc8","name":"Config_Command","func":"var cmd = msg.payload;\n\nmsg.payload  = {\n    \"mac\": global.get('idActuator'),\n    \"cmd\": \"pump\",\n    \"lvl\": cmd\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":2130,"y":720,"wires":[["a6915e44.2b11f","c43dc1f2.cc31a"]]},{"id":"a6915e44.2b11f","type":"mqtt out","z":"9c7a7b0d.293cc8","name":"","topic":"/inTopic","qos":"2","retain":"false","broker":"e3abc727.d79078","x":2320,"y":700,"wires":[]},{"id":"566eea89.3dbff4","type":"function","z":"9c7a7b0d.293cc8","name":"Check-Available-Actuator-Rel","func":"msg.payload = {\n    \"mac\":global.get('idActuator'),\n    \"cmd\":\"available?\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":1450,"y":600,"wires":[["b58f0591.4ed668"]]},{"id":"b58f0591.4ed668","type":"mqtt out","z":"9c7a7b0d.293cc8","name":"","topic":"/inTopic","qos":"2","retain":"false","broker":"e3abc727.d79078","x":1660,"y":620,"wires":[]},{"id":"f4706101.ee4a2","type":"mqtt in","z":"9c7a7b0d.293cc8","name":"","topic":"/outTopic","qos":"2","datatype":"auto","broker":"e3abc727.d79078","x":1400,"y":700,"wires":[["e5f8edbc.c44b9"]]},{"id":"cfddb31c.7610e","type":"switch","z":"9c7a7b0d.293cc8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Pump Done","vt":"str"},{"t":"eq","v":"available","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1710,"y":700,"wires":[[],["33cc66fd.55ccfa","42be8087.e2c1c"]]},{"id":"e5f8edbc.c44b9","type":"delay","z":"9c7a7b0d.293cc8","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1570,"y":700,"wires":[["cfddb31c.7610e"]]},{"id":"d7ff21fb.dcd5c","type":"delay","z":"9c7a7b0d.293cc8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":470,"y":420,"wires":[["ae0be538.6a54a8","c47892b2.0f106"]]},{"id":"ae0be538.6a54a8","type":"mongodb3 in","z":"9c7a7b0d.293cc8","service":"_ext_","configNode":"c584021.a4045","name":"Aggregate-To-Device-Collection","collection":"device","operation":"aggregate.toArray","x":710,"y":400,"wires":[["fa531e43.1146"]]},{"id":"75dd5a18.dd66b4","type":"debug","z":"9c7a7b0d.293cc8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1130,"y":400,"wires":[]},{"id":"fa531e43.1146","type":"function","z":"9c7a7b0d.293cc8","name":"Update-Device-List","func":"global.set('list_device',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":400,"wires":[["75dd5a18.dd66b4"]]},{"id":"accee646.d4fcd8","type":"function","z":"9c7a7b0d.293cc8","name":"Match-Mac-Device?","func":"var match_mac = msg.payload.mac;\nvar device = global.get('list_device');\nvar check = false;\n\n\nfor (var i = 0; i < Object.keys(device).length;i++)\n{\n    if (match_mac === device[i].mac)\n    check = true;\n}\n\nif(check===false) msg.payload = check; \n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":860,"y":460,"wires":[["305ffece.53fb52"]]},{"id":"305ffece.53fb52","type":"switch","z":"9c7a7b0d.293cc8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1030,"y":460,"wires":[[],["747bd422.8e706c","3c0a50fb.666fd","ced2e7f8.4f6ba8","d1cdafe1.375ad"]]},{"id":"c47892b2.0f106","type":"delay","z":"9c7a7b0d.293cc8","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":650,"y":460,"wires":[["accee646.d4fcd8"]]},{"id":"c1df3a6c.2e7928","type":"inject","z":"9c7a7b0d.293cc8","name":"Debug","topic":"","payload":"{\"mac\":\"68:C6:3A:EA:1E:BC\",\"param\":{\"hum\":60,\"temp\":27.40,\"humk\":74.30,\"lux\":156.67}}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":300,"wires":[["9a8bcea9.f94e2"]]},{"id":"aa546b60.3d2e58","type":"mongodb3 in","z":"9c7a7b0d.293cc8","service":"_ext_","configNode":"c584021.a4045","name":"Insert-One-Specify-Document","collection":"device","operation":"insertOne","x":490,"y":700,"wires":[["8cb760b5.d66e5"]]},{"id":"7c52f230.36daec","type":"inject","z":"9c7a7b0d.293cc8","name":"Insert-Document-In-Here","topic":"","payload":"{\"_id\":\"0x02\",\"mac\":\"E9:B2:58:A7:90:9D\",\"rel\":\"15:D6:F2:FF:38:88\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":700,"wires":[["aa546b60.3d2e58"]]},{"id":"8cb760b5.d66e5","type":"debug","z":"9c7a7b0d.293cc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":700,"wires":[]},{"id":"e9cdf032.6668","type":"comment","z":"9c7a7b0d.293cc8","name":"12h49 ngay 3/5/2019 Begin","info":"","x":540,"y":40,"wires":[]},{"id":"747bd422.8e706c","type":"function","z":"9c7a7b0d.293cc8","name":"Get-Cur-Hum","func":"var mac_device = msg.payload.mac;\nglobal.set('curHum',msg.payload.param.hum);\nmsg.payload = [{\"mac\":mac_device},{sort:{'_id':-1}}]\nreturn msg;","outputs":1,"noerr":0,"x":1220,"y":460,"wires":[["16278918.0d9ff7"]]},{"id":"16278918.0d9ff7","type":"mongodb3 in","z":"9c7a7b0d.293cc8","service":"_ext_","configNode":"c584021.a4045","name":"Find-One-Document-For-'preHum'-Variable","collection":"data","operation":"findOne","x":1490,"y":460,"wires":[["de1d4f78.a4297"]]},{"id":"de1d4f78.a4297","type":"function","z":"9c7a7b0d.293cc8","name":"Get-Pre-Hum","func":"global.set('preHum',msg.payload.param.hum);\nreturn msg;","outputs":1,"noerr":0,"x":1760,"y":460,"wires":[[]]},{"id":"e0545a50.fd9bc8","type":"function","z":"9c7a7b0d.293cc8","name":"Get-Mac","func":"global.set('idSensor',msg.payload.mac);\nglobal.set('idActuator',msg.payload.rel);\nreturn msg;","outputs":1,"noerr":0,"x":1820,"y":520,"wires":[[]]},{"id":"a10f173e.eb2af8","type":"function","z":"9c7a7b0d.293cc8","name":"Config-Query","func":"var mac_device = msg.payload.mac;\nmsg.payload = [{\"mac\":mac_device}]\n\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":520,"wires":[["ed7b128.96991f"]]},{"id":"3c0a50fb.666fd","type":"delay","z":"9c7a7b0d.293cc8","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1210,"y":520,"wires":[["a10f173e.eb2af8"]]},{"id":"ed7b128.96991f","type":"mongodb3 in","z":"9c7a7b0d.293cc8","service":"_ext_","configNode":"c584021.a4045","name":"Find-One-Doc-For-Get-Info-Device","collection":"device","operation":"findOne","x":1600,"y":520,"wires":[["e0545a50.fd9bc8"]]},{"id":"ced2e7f8.4f6ba8","type":"delay","z":"9c7a7b0d.293cc8","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1270,"y":900,"wires":[["89707693.611078"]]},{"id":"89707693.611078","type":"function","z":"9c7a7b0d.293cc8","name":"Add-Time","func":"var date = new Date().toLocaleString('en-US',{timezone:'Asian/Jakatar'});\nvar datee = new Date();\n\nvar _date = [{ \"year\": datee.getFullYear(),\n            \"mouth\": datee.getMonth(),\n            \"day\":datee.getDate()}, {\n            \"hour\":datee.getHours(),\n            \"minute\":datee.getMinutes(),\n            \"second\":datee.getSeconds()}];\n            // \"showDate\":date,\n            // \"date\":datee\nvar day = datee.getFullYear().toString()+\"/\"+datee.getMonth().toString()+\"/\"+datee.getDate().toString();\nvar hour = datee.getHours().toString()+\":\"+datee.getMinutes().toString();\n\nvar str = {'day':day,'hour':hour};\n\nmsg.payload.date = str;\n\nreturn msg;","outputs":1,"noerr":0,"x":1420,"y":920,"wires":[["1835c3b1.9cca5c"]]},{"id":"c65e4504.3390e8","type":"debug","z":"9c7a7b0d.293cc8","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1860,"y":940,"wires":[]},{"id":"6316693.38b3d98","type":"comment","z":"9c7a7b0d.293cc8","name":"Insert-Data","info":"","x":1600,"y":900,"wires":[]},{"id":"1835c3b1.9cca5c","type":"mongodb3 in","z":"9c7a7b0d.293cc8","service":"_ext_","configNode":"c584021.a4045","name":"Insert-Data-into-Collections","collection":"data","operation":"insertOne","x":1640,"y":940,"wires":[["c65e4504.3390e8"]]},{"id":"b5612957.15a5b8","type":"inject","z":"9c7a7b0d.293cc8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":640,"wires":[["94280273.65542"]]},{"id":"94280273.65542","type":"mongodb3 in","z":"9c7a7b0d.293cc8","service":"_ext_","configNode":"c584021.a4045","name":"Find-Data-Colllections","collection":"data","operation":"aggregate.toArray","x":360,"y":600,"wires":[["925305af.dac2e8"]]},{"id":"d1cdafe1.375ad","type":"delay","z":"9c7a7b0d.293cc8","name":"","pauseType":"delay","timeout":"40","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1230,"y":600,"wires":[["566eea89.3dbff4"]]},{"id":"925305af.dac2e8","type":"debug","z":"9c7a7b0d.293cc8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":560,"y":640,"wires":[]},{"id":"c43dc1f2.cc31a","type":"debug","z":"9c7a7b0d.293cc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2350,"y":780,"wires":[]},{"id":"8f2b1109.16d81","type":"mqtt in","z":"9c7a7b0d.293cc8","name":"","topic":"/duy01","qos":"2","datatype":"auto","broker":"baf2a018.4e319","x":150,"y":160,"wires":[["d1b5b2fd.ef748"]]},{"id":"17e2a82a.d1a278","type":"debug","z":"9c7a7b0d.293cc8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":2120,"y":640,"wires":[]},{"id":"26275efd.d35bd2","type":"exec","z":"9c7a7b0d.293cc8","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1990,"y":800,"wires":[["fd2306d2.1fefc8"],[],[]]},{"id":"42be8087.e2c1c","type":"function","z":"9c7a7b0d.293cc8","name":"","func":"\nvar preHum = global.get(\"preHum\");\nvar curHum = global.get(\"curHum\");\n\nmsg.payload = \"cd algorithm && python3 run.py \"+curHum+\" \"+preHum;\nreturn msg;","outputs":1,"noerr":0,"x":1850,"y":800,"wires":[["26275efd.d35bd2"]]},{"id":"832a0150.ed97b","type":"debug","z":"9c7a7b0d.293cc8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":2300,"y":840,"wires":[]},{"id":"c85bec8a.efa4e","type":"inject","z":"9c7a7b0d.293cc8","name":"","topic":"","payload":"available","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":360,"wires":[["cfddb31c.7610e"]]},{"id":"fd2306d2.1fefc8","type":"function","z":"9c7a7b0d.293cc8","name":"","func":"var str = msg.payload;\nstr = str.slice(0,str.length-1);\nmsg.payload = str;\n\nreturn msg;","outputs":1,"noerr":0,"x":2130,"y":800,"wires":[["832a0150.ed97b"]]},{"id":"52ca091b.ed9188","type":"function","z":"9c7a7b0d.293cc8","name":"","func":"msg.payload = new Date();\nreturn msg;","outputs":1,"noerr":0,"x":1560,"y":1080,"wires":[["c7b7f4.d150581"]]},{"id":"c7b7f4.d150581","type":"debug","z":"9c7a7b0d.293cc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1700,"y":1100,"wires":[]},{"id":"f5553b4e.bc0408","type":"inject","z":"9c7a7b0d.293cc8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1400,"y":1060,"wires":[["52ca091b.ed9188"]]},{"id":"a65b58f7.9fb0e8","type":"link out","z":"9c7a7b0d.293cc8","name":"Notif","links":["8c5e9f9c.5bceb"],"x":360,"y":240,"wires":[]},{"id":"ba3aa87a.c52868","type":"link in","z":"9c7a7b0d.293cc8","name":"","links":["69599a75.4c9bd4"],"x":1915,"y":720,"wires":[["b4b5aa86.8bef58"]]},{"id":"baf2a018.4e319","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e3abc727.d79078","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c584021.a4045","type":"mongodb3","z":"","uri":"mongodb://localhost:27017/smartirr","name":"","options":"","parallelism":"-1"}]
